:root {
  --primary: #2D2D2D;
  --secondary: #404040;
  --gray: #8F8F8F;
  --orange: #FC5C30;
  --blue: #008CC9;
  --border-blue: #0000FF;
  --ease-out: all 0.5s ease-out;
}
html {
  box-sizing: border-box;
  font-family: Roboto;
}
body {
  z-index: -1;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: var(--orange);
}
/* Header Style */
.header {
  z-index: 2;
  position: fixed;
  border-bottom: 2px solid var(--gray);
  background: #fff;
  width: 100%;
  top: 0;
  height: 100px;
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
    'logo menu'
}
.logo {
  padding-left: 2.5rem;
  grid-area: logo;
  display: flex;
  align-items: center; 
}
.logo .ntt {
  margin-left: 10px;
}
.logo>img {
  width: 50px;
  height: 50px;
}
.menu {
  grid-area: menu;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.menu ul {
  margin: 0;
  padding: 0;

}
.menu li {
  display: inline-block;
}
.menu li a span {
  margin: 0 20px;
}
/* Home Style */
#home {
  position: relative;
  color: #fff;
  height: 100vh;
}
.fix-header {
  width: 100%;
  height: 100px;
  position: relative;
}
.bg-img {
  background: url('./img/creative.jpg');
  background-size: cover;
  height: calc(100vh - 100px);
  width: 100%;
  position: absolute;
}
.back {
  position: absolute;
  height: calc(100vh - 100px);
  width: 100%;
  z-index: 1;
  background: #000000;
  opacity: 0.5;
}
.home-content {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: calc(100vh - 100px);
  display: inline-grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-transform: uppercase; 
}
.text {
  font-size: 52px;
  overflow: hidden;
  height: 70px;
  vertical-align: baseline;
}
.text p {
  margin: 0;
  transition: var(--ease-out);
}
.more {
  font-size: 20px;
  border: 1px solid var(--gray);
  width: 100px;
  padding: 5px 5px;
  margin-left: 40%;
  transition: var(--ease-out);
}
.more:hover {
  background: var(--orange);
  cursor: pointer;
}